@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<span style="color:green;font-size:18px">About Us</span>
<p>
    Our company was established in 1965 with our original family owners continuing to be involved. Now with over 40 years experience servicing the tourist industry, offering quality gifts, art works, clothing and mementos for tourists, travellers, and locals alike. Our company is proudly 100% kiwi owned and operated. We have grown to become New Zealand’s largest tourist retailer, currently with 17 stores across the north and south Islands in Auckland, Rotorua, Napier, Wellington, Nelson, Wanaka, and Christchurch. We have now completed the process and final re-branding of our stores in 2018, from The Great New Zealand Shop to Simply New Zealand and New Zealand The Gift across the country.

    Our gift and souvenirs range is diverse and promotes New Zealand and our way of life. Our stores cater for travellers from overseas looking for mementos to take home that are a reminder of their stay in Aotearoa, or gifts for friends and family with a particular New Zealand flavour. Be it artworks, skincare, toys, jewellery, clothing New Zealand natural skincare ranges; Manuka Honey, and Rotorua Mud to name a few. New Zealanders are proud to embrace uniquely New Zealand items for their own homes or to take overseas for friends or loved ones. Business people also purchase items from our stores as corporate gifting or to take overseas as gifts for business colleagues.
</p>
        Customer service is a key focus for us. We provide quality products and want to ensure our customers’ expectations are exceeded when they shop with us. Our staff are courteous, motivated, and trained to provide excellent service. Our business is backed by our close-knit management team.

<br />
<br />
<br />
<span style="color:green;font-size:18px">Why Shop with Us?</span>


<p>
    Our Stores are Quality Assured and Accredited
    Our merchandise range and service is underpinned by our ‘Satisfaction Guaranteed’ policy. We are a Qualmark Endorsed Visitor Service. After we championed the brand to make sure retail could be included, our group of stores became the first Qualmark accredited retailer in New Zealand since 1965, and we are active members of Tourism Industry Aotearoa, 100% Pure New Zealand, and Retail NZ.
    We are Locally Recognised
    Our Nelson store, which was opened in 2005, has won the Nelson Mall Top Shop awards twice. In 2013 it not only won the Homeware, Giftware and Specialty Store section, it was also named the overall winner. The judges said that the store had received perfect scores on two visits and commented that the staff had been friendly and helpful without being pushy. The store attracts lots of tourists, but also has the ‘Nelson family’ of loyal customers – many who have been shopping there since the store opened.

    We are a Trusted New Zealand Retailer
    Family owned and operated, we’ve upheld a trustworthy reputation as one of New Zealand’s largest tourism retail companies since 1965

    We offer Fast Local Shipping | TAX FREE Worldwide Delivery Options
    Fast local and reliable shipping to all New Zealand addresses and locations. We offer TAX FREE purchasing for all online shopping cart items when delivery is selected to a worldwide address/outside of New Zealand. (NZ GST is currently 15% and may be subject to changes). Please contact us office@touristgroup.co.nz in regards to freight costs for orders needing to be sent worldwide (excluding Australia).

</p>
<br />
<br />
<span style="color:green;font-size:18px">Our Mission Statement</span>
<p>
    Our mission statement is 'Sharing memories and experiences of New Zealand' by providing excellence in service and quality of merchandise that exceeds our customers expectations, so as to ensure they leave us with pleasant memories of our stores, our products, our country and with the desire to revisit us. We take pride in our stores and strive to be the best in customer service, product range and professional attitude.

</p>
<ul>
    <li>Offering Quality NZ Made Products</li>

    <li>  Internationally recognised New Zealand designer clothing brands</li>

    <li>Art, woodware, and giftware items created by locally renowned artists and craftspeople</li>

    <li>Branded apparel and unique gifts exclusive only to our stores</li>

    <li> Best in customer service, product range and professional attitude</li>

    <li>Carefully selected categories of jewellery, mementos and gifts reflective of New Zealand</li>

</ul>

