@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="container">
    <h6>Simply New Zealand | New Zealand Quality Souvenir</h6>

    <br />
    Head Office:   Managing Director 183 Building, Unitec

    <br />
    Mt Albert New Zealand
    <br />
    <br />
    Ph: +64 1234 567"
    <br />
    Fax: +64 123 4567"
    <div>
        <br />
        Email:
        <a href="/">office@souvenir.com</a>
    </div>
    <a href="/" data-googletools="1"><span style="color:#56aa1c;">CLICK HERE FOR ALL STORE LOCATIONS | CONTACTS</span></a>
</div>